/*.R
/*.sh
/*.Rdata
/*.rds
/*.RDS
/*.csv
/*.txt
/*.pdf
/*.log
/*.md

!/README.md
!/scripts/
!/scripts/*.R
!/scripts/*.sh
!/scripts/*.Rdata

/results/
/logs/
/supplement/
/.Rproj.user/
/.DS_Store
/.Rhistory
/main.tex
/CoverType_gc_full.Rdata
/rareFeature_code.Rproj
